.welcome-container {
  /* background-image: url('../../../assets/img/backg.png'); */
  background-size: cover;
  background-position: center;
  /* height: 200px; */
  /* height: 100vh;  */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado de center a flex-start para alinear en la parte superior */
  color: white;
  text-align: center;
  padding-top: 20px; /* Añadir padding superior si es necesario */
}

.welcome-content {
  margin-top: 30px; /* Ajustar este valor según sea necesario para subir el contenido */
  padding: 50px 20px;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  border-radius: 10px;
}


.welcome-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.welcome-content p {
  font-size: 24px;
  margin-bottom: 40px;
}

.join-now {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.join-now:hover {
  background-color: #45a049;
}
