<div class="content">

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="formulario-login mostrar">
    <h3 class="titulo-reset">Restablecer contraseña</h3>

    <input type="email" formControlName="email" placeholder="Introduce tu correo" required />

    <div class="mensaje-ok" *ngIf="mostrarMensajeOk">
      Revise la bandeja de entrada y spam.
    </div>

    <div class="mensaje-error" *ngIf="mostrarMensajeError">
      Ha ocurrido un error, reinténtelo.
    </div>

    <button type="submit" class="btn d-flex justify-content-center align-items-center gap-2 mx-auto espacio"
      [disabled]="cargando || resetPasswordForm.invalid" [ngClass]="{
    'btn-primary': !enviado,
    'btn-success': enviado
  }">

      <!-- Estado: Enviado -->
      <ng-container *ngIf="enviado">
        <i class="bi bi-check-circle-fill"></i>
        Enviado
      </ng-container>

      <!-- Estado: Cargando -->
      <ng-container *ngIf="!enviado && cargando">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Enviando...
      </ng-container>

      <!-- Estado: Normal -->
      <ng-container *ngIf="!enviado && !cargando">
        Enviar
      </ng-container>
    </button>


    <a (click)="goToLogin()" class="olvide volver">Volver al inicio de sesión</a>
  </form>
</div>
