.green {
  background-color: #89ed79; /* Color de fondo del footer */
}

.footer-container p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
