<div class="navbar">
  <div class="container-fluid">

    <div class="header-content">
      <img src="../assets/img/transparent.png" alt="Logo" class="img" routerLink="/" />
    </div>

    <div class="title">
      <h1>AlcuApp</h1>
    </div>

    <div class="opciones">

      <div class="dropdown-center">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Opciones
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/login">Iniciar sesión</a></li>
          <li><a class="dropdown-item" routerLink="/register">Registrarse</a></li>
        </ul>
      </div>

    </div>

  </div>
</div>
