
.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #191b19;
  border: none;
  transition: transform 0.2s, background-color 0.2s; /* Añadir transición para el color de fondo también */
}

.btn-primary:hover:not(:disabled) {
  transform: scale(1.05); /* Aumentar el tamaño en un 5% */
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #191b19; /* Mantener el mismo color cuando se presiona */
  box-shadow: none; /* Eliminar la sombra del foco */
}

.btn-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.progress {
  height: 20px;
  border-radius: 10px;
}

.progress-bar {
  background-color: #4caf50; /* Color de la barra de progreso */
}
