<div class="main-content">
  <div class="welcome-container">
    <div class="welcome-content">
      <h1>Bienvenido a la página de AlcuApp</h1>
      <p>¿Que deseas hacer hoy?</p>
      <div class="botones">
        <div class="dvPla">
          <button class="planificar" routerLink="/plan-session">Planificar sesion</button>
        </div>
        <div class="dvRes">
          <button class="resultados" routerLink="/LeafletComponent">Ver resultados</button>
        </div>
      </div>
    </div>
  </div>
</div>
